<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-6 col-sm-6">
                <a href="javascript:void(0)">
                    <p (click)="backToCreditsList()">
                        <i class="material-icons" style="vertical-align: middle;">arrow_back</i> Liste des credits
                    </p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">payments</i>
                        </div>
                        <p class="card-category"><b>Montant : {{ detail.demande[0].montant }}</b></p>
                        <p class="card-category"><b>Durée : {{ detail.demande[0].duree }}</b></p>
                        <p class="card-category"><b>Interet : {{ detail.demande[0].interet }}</b></p>
                        <p class="card-category"><b>Total : {{ detail.demande[0].totalMontant }}</b></p>
                        <p class="card-category"><b>Mensualites : {{ detail.demande[0].mensualites }}</b></p>
                        <p class="card-category"><b>Status : {{ detail.demande[0].statut }}</b></p>
                    </div>

                    <ul>
                        <li *ngFor="let doc of detail.demande[0].documents">
                            <a [href]="doc.fileUrl" target="_blank">{{ doc.fileName }}</a>
                        </li>
                    </ul>

                    <div *ngIf="payments.length>0" class="container mb-3 mt-5">
                        <div class="progress-bar-container">
                            <div class="progress-bar" [style.width.%]="paymentPercentage"></div>
                        </div>
                        <p class="card-category"><b>Payé {{paymentPercentage}} %</b></p>
                    </div>
                    <div *ngIf="(detail.demande[0].statut != 'refusée' || detail.demande[0].statut != 'approuvée') && detail.demande[0].currentProfile == decodedToken.role"
                        class="container mb-3 mt-5">
                        <div class="col-md-12">
                            <form #decisionForm="ngForm" (ngSubmit)="submitDecision(detail.demande[0].id,decisionForm)">
                                <mat-form-field>
                                    <mat-label>Decision</mat-label>
                                    <select [(ngModel)]="decision" name="decision" matNativeControl required>
                                        <option value="">Selectionner type ...</option>
                                        <option value="en cours de traitement">En cours de traitement</option>
                                        <option value="refusée">Refusée</option>
                                        <option *ngIf="!isDF" value="avis favorable">Avis favorable</option>
                                        <option *ngIf="isDF" value="approuvée">Approuvée</option>
                                    </select>
                                </mat-form-field>
                                <button mat-raised-button type="submit" [disabled]="!decisionForm.valid"
                                    class="btn btn-success pull-right">Valider</button>
                            </form>
                        </div>

                    </div>




                </div>
            </div>


            <div class="col-lg-8 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Liste des paiements</h4>
                    </div>
                    <h3 *ngIf="payments.length==0" class="text-success text-center mt-3 mb-2">Aucun données
                    </h3><br>
                    <div *ngIf="payments.length>0" class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>N°</th>
                                <th>Date</th>
                                <th>Montant</th>
                                <th>Statut</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payment of payments">
                                    <td>{{payment.month}}</td>
                                    <td>{{payment.dueDatePayment}}</td>
                                    <td>{{payment.monthlyPayment}}</td>
                                    <td>{{payment.statut}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>