<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row">




                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form #resetForm="ngForm" (ngSubmit)="reset(resetForm)" class="row g-4">
                                    <div class="col-12">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Mot de passe" [(ngModel)]="newPassword"
                                                name="newPassword" type="password" required>
                                        </mat-form-field>
                                        <div
                                            *ngIf="resetForm.form.controls['newPassword']?.invalid && resetForm.form.controls['newPassword']?.touched">
                                            Le mot de passe est requis.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Confirmer mot de passe"
                                                [(ngModel)]="confirmPassword" name="confirmPassword" type="password"
                                                required>
                                        </mat-form-field>
                                        <div
                                            *ngIf="resetForm.form.controls['confirmPassword']?.invalid && resetForm.form.controls['confirmPassword']?.touched">
                                            La confirmation du mot de passe est requise.
                                        </div>
                                        <div
                                            *ngIf="newPassword !== confirmPassword && resetForm.form.controls['confirmPassword']?.touched">
                                            Les mots de passe ne correspondent pas.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button [disabled]="!resetForm.valid || newPassword !== confirmPassword"
                                            mat-raised-button type="submit"
                                            class="btn btn-success pull-right">Valider</button>
                                    </div>
                                </form>

                            </div>
                        </div>


                        <div class="col-md-5 ps-0 d-none d-md-block logo">
                            <div class="form-right h-100 bg-transparent text-white text-center pt-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>